In [1]:
import pandas as pd

import phonenumbers
from email_validator import validate_email, EmailNotValidError
from ip2geotools.databases.noncommercial import DbIpCity

# Read data

In [2]:
fp = 'customers.json'

In [3]:
customers_df = pd.read_json(fp, lines=True)

In [4]:
customers_df.sample(5)

,fraudulent,customer,orders,paymentMethods,transactions
67,False,"{'customerEmail': 'dana23@lawrence.net', 'cust...",[],"[{'paymentMethodId': 'yte47y3ea', 'paymentMeth...",[]
75,False,"{'customerEmail': 'bakersydney@gmail.com', 'cu...","[{'orderId': 'r55imo', 'orderAmount': 41, 'ord...","[{'paymentMethodId': '74rqcnogo', 'paymentMeth...","[{'transactionId': '4d21mp0y', 'orderId': 'r55..."
125,False,{'customerEmail': 'wbeltran@ramirez-shaffer.co...,[],[],[]
52,False,"{'customerEmail': 'nolanalec@yahoo.com', 'cust...","[{'orderId': '48pqsb', 'orderAmount': 31, 'ord...","[{'paymentMethodId': 'elpmqdsaw', 'paymentMeth...","[{'transactionId': 'uzxl7bjx', 'orderId': '48p..."
60,True,"{'customerEmail': 'joserowland@jones.com', 'cu...","[{'orderId': 'u5a84z', 'orderAmount': 31, 'ord...","[{'paymentMethodId': '1dsku2c3p', 'paymentMeth...","[{'transactionId': 'yjfirs14', 'orderId': 'u5a..."

## Unpack the data

### Customer data

In [5]:
customer_df = customers_df['customer'].apply(pd.Series)

In [6]:
customer_df.sample(5)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
154,martinezlori@gmail.com,353.413.2223x82475,9ycz6r0ulpqtc04qxfke,d04c:1016:1b00:8a18:d9fc:5455:cae3:b97a,"PSC 1505, Box 0924\nAPO AP 49055"
105,brooksdustin@knight.info,345.319.0722x7868,dhe9trcjv1fyr2vr18q2,172.69.105.137,"8554 John Forge Apt. 284\nPort Kimberlyburgh, ..."
111,phillip89@gmail.com,649-150-0665,jyk9fawabmu0yi4ee69q,2.47.31.110,"2672 Jeffrey Cove\nMichaelport, ND 40991-4174"
145,victorgarcia@gmail.com,937-523-6702x7281,1597k0yfivb94139vcj0,184.74.109.237,"PSC 9769, Box 5820\nAPO AP 17294"
88,shelby24@hotmail.com,(071)934-3315x27613,obb41ux0zfa2td5ajo9s,45.203.99.249,"3271 Cynthia Groves\nPort Jeremyberg, CO 27305"

### Orders data

In [7]:
orders_df = customers_df['orders'].explode().apply(pd.Series).drop(columns=[0])

In [8]:
orders_df.sample(5)

,orderId,orderAmount,orderState,orderShippingAddress
158,shluih,21.0,fulfilled,"62659 Jonathon Prairie\nPort Daniel, OR 82463-..."
50,iaousp,51.0,fulfilled,"5769 Ronald Brook Suite 963\nLake Jasonfurt, M..."
79,p1yimo,34.0,fulfilled,"814 Wagner Union\nAshleymouth, HI 35617"
17,28xxko,34.0,pending,"6174 Nicholas Cliffs Suite 855\nWebsterview, M..."
62,qfteet,12.0,failed,"872 Ashley Island Apt. 254\nEast Anthonytown, ..."

### Payment methods

In [9]:
payment_methods_df = customers_df['paymentMethods'].explode().apply(pd.Series).drop(columns=[0])

In [10]:
payment_methods_df.sample(5)

,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
48,h2awlopgd,False,apple pay,JCB 16 digit,Bulwark Trust Corp.
72,rbkqo2mz8,False,card,VISA 16 digit,Bulwark Trust Corp.
46,suusse06u,False,card,VISA 13 digit,His Majesty Bank Corp.
140,9jt0mza2r,False,card,VISA 13 digit,Bastion Banks
38,NaN,NaN,NaN,NaN,NaN

### Transactions data

In [11]:
transactions_df = customers_df['transactions'].explode().apply(pd.Series).drop(columns=[0])

In [12]:
transactions_df.sample(5)

    transactionId orderId paymentMethodId  transactionAmount transactionFailed
7        crwqqfpi  7fs5td       yxsf33ipw               68.0             False
106      zzg2ywpl  w936ae       4wf6hh0n2               42.0             False
81       mco06mub  j5ssnn       895soyhh1               27.0              True
141      xo0ezry0  320w72       1dcru1vlg               35.0             False
116           NaN     NaN             NaN                NaN               NaN

## Merge data

In [13]:
customer_df = customers_df[['fraudulent']].merge(customer_df, left_index=True, right_index=True)

# Analyse data

In [14]:
customer_df.fraudulent.value_counts()

False    107
True      61
Name: fraudulent, dtype: int64

In [15]:
customer_df.fraudulent.value_counts(normalize=True)

False    0.636905
True     0.363095
Name: fraudulent, dtype: float64

**More than 1/3 of all users are fraudulent.**

## Customer data

In [16]:
customer_df.sample(2)

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
87,False,tayloreric@gmail.com,1-160-137-7889x74832,sjoj10iss04dq90i4w7x,3.75.86.140,"3195 Farmer Mills Apt. 946\nBrittanymouth, IA ..."
51,False,whodges@yahoo.com,791-857-3838x784,c0zsrf0sna9bkdhncxk3,26a2:b5fa:e76c:cf72:577b:ea46:3b20:16b0,"839 Heather Mall Suite 257\nLake Robert, AL 60..."

In [17]:
customer_df.describe(include='all')

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
count,168,168,168,168,168,168
unique,2,161,168,168,165,166
top,False,johnlowery@gmail.com,400-108-5415,yyeiaxpltf82440jnb3v,45.203.99.249,49680 Brian Squares Apt. 122\nPort Walterburgh...
freq,107,8,1,1,4,3

All devices numbers are unique. Also phone numbers seem to be unique, but it's worth cleaning them (different format, strip extentions, etc.) and verify again.

Interestingly, emails, IP addreesses and billing addresses are not unique. It's investigate verify those.

### Verify duplicated data

#### Email addresses

In [18]:
customer_df.customerEmail.value_counts().head()

johnlowery@gmail.com      8
josephhoward@yahoo.com    1
marywalker@gmail.com      1
vreyes@cruz.info          1
3fooiar@6eph              1
Name: customerEmail, dtype: int64

In [19]:
customer_df[customer_df['customerEmail'] == 'johnlowery@gmail.com']['fraudulent'].value_counts()

True    8
Name: fraudulent, dtype: int64

In [20]:
customer_df[customer_df['customerEmail'] == 'johnlowery@gmail.com']

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
7,True,johnlowery@gmail.com,044-642-9860,rjb0adai34izqvys4938,212.144.68.190,"484 Pamela Pass\nLake Jessicaview, WI 12942-9074"
40,True,johnlowery@gmail.com,737-377-9701x577,jz66ap43id2y35ivfqa5,6c21:ac1d:2089:68fa:abb7:8c00:525f:6588,"08238 Kyle Squares Suite 893\nMillermouth, IN ..."
45,True,johnlowery@gmail.com,+16(4)9016414340,cdx178qymd6vy77nm4x3,222.79.159.140,"77711 Pamela Ridge\nNew Kayla, IL 27182"
65,True,johnlowery@gmail.com,04712252182,311kdz4c1210iixltk2j,42b3:df19:86fe:abd9:dafe:f6c1:eb76:c72,"11704 Andrew Villages Apt. 035\nJamesfurt, OR ..."
79,True,johnlowery@gmail.com,1-820-539-4726x993,2in0fh7lep289n8dcbdz,163.128.139.42,"814 Wagner Union\nAshleymouth, HI 35617"
133,True,johnlowery@gmail.com,1-143-059-1833,tyijaify2hqadwslejyr,e4c:fb48:8ee2:9819:6ae8:8d3f:3b6a:a788,"518 Wood Mews Apt. 970\nDillonstad, NE 43317-3945"
155,True,johnlowery@gmail.com,076-099-0630x72770,6qy6oa3nqutsyyxzc54c,f259:657f:f329:2fca:c06c:8b57:d6ac:2380,"687 Rogers Bridge Suite 780\nValdezburgh, IN 2..."
165,True,johnlowery@gmail.com,635.676.0955x524,969zz9zdj8z4gns4sx5p,f82c:811f:8a02:e2d6:79b:fcaa:42de:570b,"548 Bryant Inlet\nVeronicaside, OK 00522"

### IP addresses

In [21]:
customer_df.customerIPAddress.value_counts().head()

45.203.99.249     4
8.129.104.40      1
11.165.157.167    1
181.88.44.76      1
242.102.134.32    1
Name: customerIPAddress, dtype: int64

In [22]:
customer_df[customer_df['customerIPAddress'] == '45.203.99.249']['fraudulent'].value_counts()

True    4
Name: fraudulent, dtype: int64

In [23]:
customer_df[customer_df['customerIPAddress'] == '45.203.99.249']

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
46,True,jamescampbell@randall-pacheco.biz,599-142-6783,eaul63h9guyvwuymfn3z,45.203.99.249,"29408 Lisa Lock\nPort Jennifer, LA 26501-7040"
80,True,warrenedward@arnold.com,201.737.5119x64000,6py7ewqjkxjw8zjl9eri,45.203.99.249,49680 Brian Squares Apt. 122\nPort Walterburgh...
88,True,shelby24@hotmail.com,(071)934-3315x27613,obb41ux0zfa2td5ajo9s,45.203.99.249,"3271 Cynthia Groves\nPort Jeremyberg, CO 27305"
141,True,christinemills@mcgee.com,(651)355-4709,zbn9it3s7yl69bjtrnqf,45.203.99.249,"5156 Greene Park Apt. 748\nNew Sandra, CA 1480..."

### Billing addresses

In [24]:
customer_df.customerBillingAddress.value_counts().head()

49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708    3
5493 Jones Islands\nBrownside, CA 51896                          1
3120 Horne Vista\nPort Emmaview, LA 25479                        1
Unit 6251 Box 1562\nDPO AP 54457-8709                            1
8663 Kaitlyn Key\nBrittanyview, CT 46389                         1
Name: customerBillingAddress, dtype: int64

In [25]:
customer_df[customer_df['customerBillingAddress'] == '49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708']['fraudulent'].value_counts()

True    3
Name: fraudulent, dtype: int64

In [26]:
customer_df[customer_df['customerBillingAddress'] == '49680 Brian Squares Apt. 122\nPort Walterburgh, MH 02766-0708']

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
57,True,feliciabrown@gmail.com,(226)129-2677,z7xkuohhjbtiqs6q9rk9,115.137.171.103,49680 Brian Squares Apt. 122\nPort Walterburgh...
80,True,warrenedward@arnold.com,201.737.5119x64000,6py7ewqjkxjw8zjl9eri,45.203.99.249,49680 Brian Squares Apt. 122\nPort Walterburgh...
90,True,brittanydean@hotmail.com,06238721842,yq8xiivmx4prlgx0gofo,3517:8e52:885:8640:a59:f5fd:cb33:b06a,49680 Brian Squares Apt. 122\nPort Walterburgh...

**Findings**

It is suspicious to see the same email address for multiple customers. Even though the customer device is unique for each customer, I think it is very probable that they are the same customer/fraudster. I think it is best if customers with the same email address are in the same set (either train or test) to prevent data leakage.

The same applies to the billing address - it is very suspicious to see the same address for 3 customers. Hence, they also should be in the same set (either train or test) for the same reason.

IP address is slightly different - although it should be unique, it doesn't have to be. It is very common that IP addresses can be shared by multiple users. For example, open networks, mobile networks, offices, etc. It is a little bit suspicious that the same address is shared only by fraudsters, but that doesn't mean that this is the same person/fraudster.

# Feature engineering

#### Email address

In [27]:
# divide email into username and domain and see if there's anything unsual in either
customer_df[['username', 'domain']] = customer_df['customerEmail'].str.split('@', expand=True)

In [28]:
customer_df[customer_df['fraudulent'] == True]['username'].value_counts()

johnlowery         8
evansjeffery       1
ctaylor            1
david45            1
fdavis             1
mtrevino           1
tmcpherson         1
wdelacruz          1
brooksdustin       1
3fooiar            1
ugood              1
marywalker         1
amywright          1
iray               1
koneal             1
ukline             1
oaguirre           1
aliciaanthony      1
christinemills     1
gwilcox            1
1yf0               1
kwalsh             1
deborah38          1
andre74            1
mitchellvickie     1
sbrown             1
vmiller            1
craig83            1
uchen              1
brittanydean       1
robinsoncynthia    1
samuel15           1
ubranch            1
bowenwilliam       1
gonzalesjackson    1
guerramichael      1
catherine64        1
9es7t              1
jamescampbell      1
kristina41         1
uguzman            1
feliciabrown       1
joserowland        1
hj8maoy            1
suzanne21          1
cathy42            1
nancymayo          1
warrenedward       1
michael57          1
jonathan99         1
lleonard           1
whitedavid         1
shelby24           1
ethompson          1
Name: username, dtype: int64

In [29]:
customer_df[customer_df['fraudulent'] == True]['domain'].value_counts()

gmail.com                 15
yahoo.com                  6
hotmail.com                6
henderson.biz              1
wright.com                 1
knight.info                1
6eph                       1
mosley.info                1
wallace-johnson.com        1
rogers.com                 1
mcgee.com                  1
martin.com                 1
wolfe-brown.com            1
jedyz63t                   1
lopez-gomez.biz            1
patrick-decker.com         1
brewer-jones.com           1
hughes.biz                 1
gutierrez.net              1
rasmussen-alvarado.com     1
spears.biz                 1
1jcfcxs7                   1
dunn.com                   1
saunders-rhodes.com        1
rivera-parker.info         1
u6n7x                      1
randall-pacheco.biz        1
jones.com                  1
gibson.com                 1
malone.com                 1
brown.com                  1
arnold.com                 1
oconnor.com                1
stafford.org               1
turner-fleming.com         1
jones-lloyd.org            1
jackson-sanders.com        1
Name: domain, dtype: int64

In [30]:
# let's see if the domains are either popular or disposal. Both lists found in the internet

with open("popular_domains.txt", "r") as f:
    data = f.read()
    
popular_domains = [domain.strip() for domain in data.split(",")]

with open("disposal_domains.txt", "r") as f:
    data = f.read()
    
disposal_domains = [domain.strip() for domain in data.split(",")]

In [31]:
customer_df['is_popular_domain'] = customer_df['domain'].isin(popular_domains)

customer_df['is_disposal_domain'] = customer_df['domain'].isin(disposal_domains)

In [32]:
pd.crosstab(customer_df.fraudulent, customer_df.is_popular_domain, normalize='index')

is_popular_domain     False     True
fraudulent
False              0.476636  0.523364
True               0.540984  0.459016

In [33]:
customer_df['is_disposal_domain'].value_counts()

False    168
Name: is_disposal_domain, dtype: int64

In [34]:
# create a email validator, if the email is not valid assign 0, if it is assign 1. Using python package: email_validator

def email_validator(df, email_series):
    df['valid_email'] = df[email_series].apply(lambda x: validate_individual_email(x))

def validate_individual_email(email):
    try:
        emailinfo = validate_email(email, check_deliverability=False)
        return 1  # Valid email
    except EmailNotValidError as e:
        return 0  # Invalid email

In [35]:
email_validator(customer_df, 'customerEmail')

In [36]:
customer_df[customer_df['valid_email'] == 0]

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,username,domain,is_popular_domain,is_disposal_domain,valid_email
32,True,9es7t@u6n7x,518.037.7423x366,uqdiolg8krd34n4phs18,3617:fa2b:f31e:5b72:59a8:cb1a:d090:edb9,"63978 Luis Ports\nYvonneville, NE 63736-2980",9es7t,u6n7x,False,False,0
62,True,hj8maoy@1jcfcxs7,03115487766,e3prs7zh4ueieiwlkud7,769a:4538:2bd2:8213:85ed:ca71:1ea3:dcd9,"872 Ashley Island Apt. 254\nEast Anthonytown, ...",hj8maoy,1jcfcxs7,False,False,0
108,True,3fooiar@6eph,1-774-301-9632x42146,by46esafzb52tuqcy9d1,181.88.44.76,"942 Hopkins Loaf Suite 128\nPort Clifford, AK ...",3fooiar,6eph,False,False,0
151,True,1yf0@jedyz63t,463-609-3475,j3a0155srqw0yeqvbgps,1fe2:1fa3:2a6f:845d:1037:2dac:2831:9d50,"12350 Nicholas Greens\nLawsonborough, NC 70237...",1yf0,jedyz63t,False,False,0

### Phone numbers

In [37]:
# split phone numbers into base and extention phone numbers
customer_df[['base_phone_number', 'extention_phone_number']] = customer_df['customerPhone'].str.split('x', expand=True)

In [38]:
customer_df[customer_df['extention_phone_number'].notnull()].sample(5)

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,username,domain,is_popular_domain,is_disposal_domain,valid_email,base_phone_number,extention_phone_number
87,False,tayloreric@gmail.com,1-160-137-7889x74832,sjoj10iss04dq90i4w7x,3.75.86.140,"3195 Farmer Mills Apt. 946\nBrittanymouth, IA ...",tayloreric,gmail.com,True,False,1,1-160-137-7889,74832
78,True,nancymayo@brown.com,830-346-6543x518,1asmfecu4hbv73a2r5jy,79.112.154.104,"6927 Nathan Mountains\nNorth April, PA 95355-9109",nancymayo,brown.com,False,False,1,830-346-6543,518
91,False,watkinscaroline@lewis-haas.com,153-392-3908x8124,mcfj07mm32tyodtfh7z2,244.18.220.218,"991 Melton Viaduct\nWagnerville, NH 56051",watkinscaroline,lewis-haas.com,False,False,1,153-392-3908,8124
40,True,johnlowery@gmail.com,737-377-9701x577,jz66ap43id2y35ivfqa5,6c21:ac1d:2089:68fa:abb7:8c00:525f:6588,"08238 Kyle Squares Suite 893\nMillermouth, IN ...",johnlowery,gmail.com,True,False,1,737-377-9701,577
121,True,ctaylor@yahoo.com,1-020-923-6697x8718,uu141ykhyig0cj3s98jr,dda2:66e0:4279:3c1b:ac29:4cbb:5ea3:c26b,"87096 Warren Turnpike\nHowellview, WA 74727-2420",ctaylor,yahoo.com,True,False,1,1-020-923-6697,8718

In [39]:
customer_df['has_extention_phone_number'] =  customer_df['extention_phone_number'].notnull().astype(int)

In [40]:
pd.crosstab(customer_df.fraudulent, customer_df.has_extention_phone_number, normalize='index')

has_extention_phone_number         0         1
fraudulent
False                       0.476636  0.523364
True                        0.557377  0.442623

In [41]:
# use phonenumbers library to find out if the phone number is US or foreign (based on the country code at the beginning of the number)
def is_foreign_number(phone_number):
    try:
        parsed_number = phonenumbers.parse(phone_number, None)
        country_code = parsed_number.country_code
        if phonenumbers.region_code_for_country_code(country_code) != 'US':
            return 1
    except phonenumbers.phonenumberutil.NumberParseException:
        pass
    return 0

def add_foreign_column(df, phone_numbers_series):
    df['is_foreign_number'] = phone_numbers_series.apply(is_foreign_number)
    return df

In [42]:
customer_df = add_foreign_column(customer_df, customer_df['base_phone_number'])

In [43]:
customer_df[customer_df['is_foreign_number'] == 1][['fraudulent', 'customerPhone', 'is_foreign_number']]

     fraudulent     customerPhone  is_foreign_number
5          True  +65(5)8997489788                  1
31        False  +45(0)7468859801                  1
44        False  +23(4)1428642270                  1
49        False  +49(5)7226212913                  1
67        False  +78(3)5889318722                  1
106       False  +32(2)6119524982                  1
130       False  +96(0)1872091077                  1
135       False  +36(0)4967812825                  1
136        True  +77(2)4526373005                  1
138       False  +27(2)4721167637                  1

In [44]:
pd.crosstab(customer_df.fraudulent, customer_df.is_foreign_number)

is_foreign_number   0  1
fraudulent
False              99  8
True               59  2

### IP address

In [45]:
# get information about the IP address - whether it is IP4/IP6 and what country is registered in
def get_ip_info(ip_address):
    try:
        response = DbIpCity.get(ip_address, api_key='free')
        ip_type = response.ip_address.version
        country_code = response.country
        return ip_type, country_code
    except Exception as e:
        return None, None

def is_foreign_ip(ip_address):
    ip_type, country_code = get_ip_info(ip_address)
    if country_code == 'US':
        return 0
    elif country_code is None:
        return -1
    else:
        return 1

def is_ipv4(ip_address):
    ip_type, _ = get_ip_info(ip_address)
    if ip_type == 4:
        return 1
    elif ip_type == 6:
        return 0
    else:
        return -1

def add_ip_columns(df, ip_address_series):
    ip_info = ip_address_series.apply(get_ip_info)
    df['ip_country_code'] = ip_info.apply(lambda x: x[1])
    df['is_foreign_ip'] = ip_info.apply(lambda x: is_foreign_ip(x[0]))
    df['IPv4'] = ip_info.apply(lambda x: is_ipv4(x[0]))
    return df

In [46]:
customer_df = add_ip_columns(customer_df, customer_df['customerIPAddress'])

In [47]:
pd.crosstab(customer_df.fraudulent, customer_df.is_foreign_ip)

is_foreign_ip   -1
fraudulent
False          107
True            61

It seems that I have abused the policy ip2geotools, and I cannot use this features.

## Orders

In [48]:
orders_df['orderState'].value_counts()

fulfilled    400
failed        50
pending       28
Name: orderState, dtype: int64

In [49]:
fulfilled_orders_df = orders_df[orders_df['orderState'] == 'fulfilled']
pending_orders_df = orders_df[orders_df['orderState'] == 'pending']
failed_orders_df = orders_df[orders_df['orderState'] == 'failed']

In [50]:
orders_df.sample(5)

,orderId,orderAmount,orderState,orderShippingAddress
165,jhaub8,13.0,fulfilled,"81025 Erin Grove\nSouth Julieville, DC 96006"
91,z4z8pu,11.0,fulfilled,"000 Harmon Passage Suite 981\nEast Erika, HI 6..."
99,u4dydn,30.0,fulfilled,"6609 Hannah Road Suite 577\nRichardchester, AL..."
141,rih88w,15.0,fulfilled,"5156 Greene Park Apt. 748\nNew Sandra, CA 1480..."
147,mchypz,29.0,fulfilled,"PSC 4569, Box 8881\nAPO AP 07558-7291"

In [51]:
# get the count of all orders, as well as fulfilled, pending and failed orders
orders_count = orders_df.groupby(orders_df.index).agg({'orderId':'count'}).rename(columns={'orderId':'order_count'})

fulfilled_orders_count = fulfilled_orders_df.groupby(fulfilled_orders_df.index).agg({'orderId':'count'}).rename(columns={'orderId':'fulfilled_order_count'})
pending_orders_count = pending_orders_df.groupby(pending_orders_df.index).agg({'orderId':'count'}).rename(columns={'orderId':'pending_order_count'})
failed_orders_count = failed_orders_df.groupby(failed_orders_df.index).agg({'orderId':'count'}).rename(columns={'orderId':'failed_order_count'})

In [52]:
# get number of unique shipping locations where customer made an order / calculate the ratio of the number of unique locations and all orders

unique_orders_locations = orders_df.groupby(orders_df.index).agg({'orderShippingAddress':'nunique'}).rename(columns={'orderShippingAddress':'unique_order_locations'})

locations_per_order_ratio = unique_orders_locations['unique_order_locations'] / orders_count['order_count']

locations_per_order_ratio.name = 'locations_per_order_ratio'

In [53]:
# calculate mean, min, max and sum of orders by given customer

mean_order_amount = orders_df.groupby(orders_df.index).agg({'orderAmount':'mean'}).rename(columns={'orderAmount':'avg_order_amount'})
min_order_amount = orders_df.groupby(orders_df.index).agg({'orderAmount':'min'}).rename(columns={'orderAmount':'min_order_amount'})
max_order_amount = orders_df.groupby(orders_df.index).agg({'orderAmount':'max'}).rename(columns={'orderAmount':'max_order_amount'})
sum_order_amount = orders_df.groupby(orders_df.index).agg({'orderAmount':'sum'}).rename(columns={'orderAmount':'sum_order_amount'})

In [54]:
# compare shipping and billing address and then calculate the mismatch ratio - the higher the number, the more orders are not shipped to the billing address

orders_df_with_billing_address = orders_df.merge(customer_df['customerBillingAddress'], left_index=True, right_index=True)

orders_df_with_billing_address = orders_df_with_billing_address[orders_df_with_billing_address['orderShippingAddress'].notna()]

orders_df_with_billing_address['address_mismatch'] = orders_df_with_billing_address['orderShippingAddress'] != orders_df_with_billing_address['customerBillingAddress']

address_mismatch_ratio = orders_df_with_billing_address.groupby(orders_df_with_billing_address.index)['address_mismatch'].sum() / orders_df_with_billing_address.groupby(orders_df_with_billing_address.index)['orderId'].count()

address_mismatch_ratio.name = 'address_mismatch_ratio'

## Payment methods

In [55]:
payment_methods_df.head(5)

,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks
1,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks
1,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp
1,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.
1,m52tx8e1s,False,card,Mastercard,Vertex Bancorp

In [56]:
# get unique number of payment methods' types/providers/issuers per customer
payment_method_type_count = payment_methods_df.groupby(payment_methods_df.index).agg({'paymentMethodType':'nunique'}).rename(columns={'paymentMethodType':'payment_method_type_unique_count'})
payment_method_provider_count = payment_methods_df.groupby(payment_methods_df.index).agg({'paymentMethodProvider':'nunique'}).rename(columns={'paymentMethodProvider':'payment_method_provider_unique_count'})
payment_method_issuer_count = payment_methods_df.groupby(payment_methods_df.index).agg({'paymentMethodIssuer':'nunique'}).rename(columns={'paymentMethodIssuer':'payment_method_issuer_unique_count'})

# get the count of failed payment method registration by customer
# replace True and False with 1 and 0, and fill na with -1
payment_method_registration_failure_count = payment_methods_df.replace([True, False], [1, 0]).fillna(-1).groupby(payment_methods_df.index).agg({'paymentMethodRegistrationFailure':'sum'})

In [57]:
# get one hot encoding / count of different methods' type/providers/issuers per customer
ohe_payment_method_type = pd.get_dummies(payment_methods_df['paymentMethodType']).groupby(payment_methods_df.index).sum()
ohe_payment_method_provider = pd.get_dummies(payment_methods_df['paymentMethodProvider']).groupby(payment_methods_df.index).sum()
ohe_payment_method_issuer = pd.get_dummies(payment_methods_df['paymentMethodIssuer']).groupby(payment_methods_df.index).sum()

In [58]:
ohe_payment_method_type.sample(2)

     apple pay  bitcoin  card  paypal
119          0        1     0       0
35           0        0     1       0

In [68]:
ohe_payment_method_provider.sample(2)

,American Express,Diners Club / Carte Blanche,Discover,JCB 15 digit,JCB 16 digit,Maestro,Mastercard,VISA 13 digit,VISA 16 digit,Voyager
136,0,0,0,0,0,1,0,0,0,0
167,0,0,0,1,1,0,0,2,0,0

In [59]:
payment_methods_df[payment_methods_df['paymentMethodIssuer'].isin([' ', 'B', 'a', 'c', 'e', 'n', 'o', 'p', 'r', 'x'])].sample(5)

,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
96,annk08w5x,False,card,Voyager,r
164,vmktpy2mv,False,card,Discover,o
136,5tyvyueom,False,card,Maestro,e
99,ru53ucaj4,False,card,Diners Club / Carte Blanche,e
10,4nt3vg6nr,False,card,Discover,c

In [60]:
# combine the long tail into one category other_methods
ohe_payment_method_issuer['other_methods'] = ohe_payment_method_issuer[[' ', 'B', 'a', 'c', 'e', 'n', 'o', 'p', 'r', 'x']].sum(axis=1)

ohe_payment_method_issuer = ohe_payment_method_issuer[['Bastion Banks', 'Bulwark Trust Corp.', 'Citizens First Banks', 'Fountain Financial Inc.',
                                                       'Grand Credit Corporation', 'Her Majesty Trust', 'His Majesty Bank Corp.', 'Rose Bancshares',
                                                       'Solace Banks', 'Vertex Bancorp', 'other_methods']]

## Transactions

In [61]:
transactions_df.sample(5)

    transactionId orderId paymentMethodId  transactionAmount transactionFailed
46       n53a4z93  typkze       suusse06u               10.0             False
65       aoyfjmwf  9eubwc       opyep1aoj               12.0             False
103      6h400s45  qrkjwn       w8f4lcsen               33.0             False
98       1nm2xl3k  l35jjq       g7u0onbnv               57.0              True
59       hyknr1f4  znlrfn       wejtuspvr               14.0             False

In [62]:
# get number of all transactions per customer
all_transactions_count = transactions_df.groupby(transactions_df.index).agg({'transactionId':'count'}).rename(columns={'transactionId':'transactions_count'})

In [63]:
# get number of failed transactions per customer
failed_transactions_count = transactions_df.replace([True, False], [1, 0]).fillna(-1).groupby(transactions_df.index).agg({'transactionFailed':'sum'}).rename(columns={'transactionFailed':'failed_transactions_count'})

In [64]:
# calculate the ratio between failed and all transactions - the higher the number, the more failed transactions are there
failed_transactions_ratio = failed_transactions_count['failed_transactions_count'] / all_transactions_count['transactions_count']
failed_transactions_ratio.name = 'failed_transactions_ratio'

## Merge dataset

In [65]:
# merge all the features with customer data and the flag (fraudulent)
dataset_with_features = pd.concat([customer_df, orders_count, unique_orders_locations, locations_per_order_ratio, mean_order_amount, min_order_amount, max_order_amount,
                                   sum_order_amount, fulfilled_orders_count, pending_orders_count, failed_orders_count, address_mismatch_ratio, payment_method_type_count,
                                   payment_method_provider_count, payment_method_issuer_count, payment_method_registration_failure_count, ohe_payment_method_type,
                                   ohe_payment_method_provider, ohe_payment_method_issuer, all_transactions_count, failed_transactions_count, failed_transactions_ratio],
                                  axis=1)

In [66]:
dataset_with_features.sample(5)

,fraudulent,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,username,domain,is_popular_domain,is_disposal_domain,...,Grand Credit Corporation,Her Majesty Trust,His Majesty Bank Corp.,Rose Bancshares,Solace Banks,Vertex Bancorp,other_methods,transactions_count,failed_transactions_count,failed_transactions_ratio
153,True,kwalsh@lopez-gomez.biz,04103378280,mdoe6wib243y09uaj95z,3162:1f06:9114:56d1:f5e8:bf3a:6ad0:b6f2,"0008 Jessica Stream\nMcbridetown, MH 04017",kwalsh,lopez-gomez.biz,False,False,...,0,0,0,0,0,0,2,3,0.0,0.00
117,False,smithtonya@huffman.org,1-753-714-9977x4456,fd5khwqxgptuyvtl59mp,7243:82ce:52ca:f27b:f116:30c0:f704:59f3,"401 Linda Circles Apt. 670\nRaymondton, OH 670...",smithtonya,huffman.org,False,False,...,1,0,0,0,0,0,0,3,0.0,0.00
104,True,wdelacruz@yahoo.com,155.688.4242x443,fmm4yabu9llergl9qbl9,cd18:5626:a1c4:7e99:addf:368e:c98:e772,"3074 Caroline Oval\nLake Maryburgh, MA 15880",wdelacruz,yahoo.com,True,False,...,0,0,0,0,0,0,0,4,1.0,0.25
126,True,koneal@henderson.biz,059.431.5467x7848,gcfo5uheb9mugbstbjez,85.188.105.126,"056 Megan Trail Suite 355\nWest Zachary, GU 51...",koneal,henderson.biz,False,False,...,0,0,0,0,0,0,1,4,0.0,0.00
26,False,avaldez@gmail.com,203-573-2041,bwgvb5w8dm6upvi7ucqc,46.130.37.206,"304 Heather Fall\nEast Christina, UT 45880-4522",avaldez,gmail.com,True,False,...,0,0,0,0,1,0,0,2,1.0,0.50

In [67]:
dataset_with_features.to_csv('dataset_with_features.csv', index=False)